<a href="https://colab.research.google.com/github/faizamairaj/class-5-google-colab/blob/main/class5.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
# numbers for loop
numbers = [1,2,3,4,5,6,7,8,9,10]
for i in numbers:
  print(i)

1
2
3
4
5
6
7
8
9
10

In [ ]:
# list for loop
frdsList = ["ifra", "jannat", "kainat", "iqra", "hajra"]
for i in frdsList:
  print(i)

ifra
jannat
kainat
iqra
hajra

In [ ]:
# range(stop)-> range object
for i in range( 0,10,3):
  print(i)

0
3
6
9

In [ ]:
 # (count-down-timer)
import time
for i in range(10,0,-1):
  time.sleep(1)
  print(i)

10
9
8
7
6
5
4
3
2
1

In [ ]:
# Assignment for find the max number of list:
findNum = [88,99,55,86,23,77,88]
num = max(findNum)
print(num,[1])

99 [1]